<div class="row">
  <div class="programme-header column medium-2">
    <div class="programme-time">
      <%= icon("clock", class: "icon", role: "img") %>
      <div class="programme-time__day">
        <%= l start_time, format: "%A" %>
        <br>
        <%= l start_time, format: "%d %b" %>
      </div>
      <div class="programme-time__time">
        <%= start_time.to_s(:time) %> - <%= end_time.to_s(:time) %>
      </div>
    </div>
  </div>

  <div class="programme-image column medium-4">
    <% if meeting.photo.present? %>
      <%= link_to resource_locator(meeting).path do %>
        <%= image_tag meeting.photo.url %>
      <% end %>
    <% end %>
  </div>

  <div class="programme-body column medium-6">
    <div class="programme-title">
      <%= link_to present(meeting).title, resource_locator(meeting).path %>
    </div>
    <% attribute = present(meeting).description %>
    <div class="programme-extra">
      <% conference_meeting = meeting.becomes(Decidim::ConferenceMeeting) %>
      <% speakers = conference_meeting.conference_speakers %>
      <% if speakers.any? %>
        <div class="row speakers-list">
          <div class="column medium-12">
            <strong><%= t(".speakers") %></strong>
            <br>
            <%= cell("decidim/conferences/conference_speaker", meeting, list: speakers, size: 3).(:speakers_list) %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="column medium-12">
          <strong><%= t(".location") %></strong>
          <br>
          <% if meeting.respond_to? :location %>
            <u><%= translated_attribute meeting.location %></u>&nbsp;
          <% end %>
          <span><%= meeting.address %></span>
          <% if meeting.respond_to? :location_hints %>
            <span>&nbsp;<%= translated_attribute meeting.location_hints %></span>
          <% end %>
        </div>
      </div>

      <% if meeting.description.present? %>
        <div class="row">
          <div class="column medium-12">
            <strong><%= t(".content") %></strong>
            <br>
            <%= truncate(decidim_sanitize(present(meeting).description(links: true)), length: 180, omission: "..." , escape: false) %>
          </div>
        </div>
      <% end %>
      <% if meeting.minutes.present? && meeting.minutes.visible? && (meeting.minutes.video_url.presence || meeting.minutes.audio_url.presence) %>
        <div class="row">
          <div class="column medium-12">
            <strong><%= t(".streaming") %></strong>
            <br>
            <% if meeting.minutes.video_url.presence %>
              <u><%= link_to meeting.minutes.video_url, meeting.minutes.video_url, target: "_blank" %></u>
            <% end %>
            <% if meeting.minutes.audio_url.presence %>
              <u><%= link_to meeting.minutes.audio_url, meeting.minutes.audio_url, target: "_blank" %></u>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(() => {
  $(".programme-extra > :not(.speakers-list)").find("img, iframe").remove()
})
</script>
