<%
if respond_to?(:meeting_component) && meeting_component
  edit_link(
    manage_component_path(meeting_component),
    :read,
    :component,
    component: meeting_component,
    current_participatory_space: current_participatory_space
  )
end
%>
<% add_decidim_meta_tags(title: t("conference_program.index.title", scope: "decidim")) %>

<div class="section row" >
  <% if current_organization.filtered_conference_program_meetings? %>
    <div class="columns mediumlarge-3">
      <%= render partial: "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= render partial: "filters" %>
      </div>
    </div>
  <% end %>

  <div class="columns mediumlarge-<%= current_organization.filtered_conference_program_meetings? ? "9" : "12" %>">
    <div class="columns large-4">
      <h3 class="section-heading"><%= t(".program") %></h3>
    </div>
  
    <div class="columns large-8 programme-selector">
      <ul class="tabs" id="conference-day-tabs"
        data-tabs>
        <% time_periods.each_with_index do |period, index| %>
          <li class="tabs-title <%= "is-active" if default_period?(time_periods, period) %>">
            <!-- Wrap the anchor inside a div to keep correct button styling -->
            <div>
              <a data-tabs-target="conference-day-tab-<%= index %>" href="#conference-day-tab-<%= index %>" class="button button--nomargin">
                <% # HANDLE FORMAT! %>
                <%== l period, format: period_localization_format(period) %>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="columns mediumlarge-12">
      <div class="conference-programme">
        <div class="tabs-content" data-tabs-content="conference-day-tabs">
          <% time_periods.each_with_index do |period, index| %>
            <div class="programme-day tabs-panel<%= " is-active" if default_period?(time_periods, period) %>" id="conference-day-tab-<%= index %>">
              <% meetings_by_time(period).each do |time, meetings| %>
                <%= render partial: "program_item", locals: { start_time: time[:start_time], end_time: time[:end_time], meetings: meetings.pluck(:meeting) } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
