<%
if respond_to?(:meeting_component) && meeting_component
  edit_link(
    manage_component_path(meeting_component),
    :read,
    :component,
    component: meeting_component,
    current_participatory_space: current_participatory_space
  )
end
%>
<% add_decidim_meta_tags(title: t("conference_program.index.title", scope: "decidim")) %>
<div class="section row">
  <div class="columns mediumlarge-4">
    <h3 class="section-heading"><%= t(".program") %></h3>
  </div>
  <div class="columns mediumlarge-8 programme-selector">

    <% months = conference_meeting_months(@meetings) %>
    <% if months.any? %>
      <ul class="tabs" id="conference-day-tabs"
        data-tabs>
        <% months.each_with_index do |month, i| %>
          <li class="tabs-title <%= "is-active" if default_month?(months, month) %>">
            <!-- Wrap the anchor inside a div to keep correct button styling -->
            <div>
              <a href="#conference-day-tab-<%= i %>" class="button button--nomargin">
                <%== l month, format: :month_and_year %>
              </a>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="columns mediumlarge-12">
    <div class="conference-programme">
      <div class="tabs-content" data-tabs-content="conference-day-tabs">
        <% months.each_with_index do |month, i| %>
          <div class="programme-day tabs-panel<%= " is-active" if default_month?(months, month) %>" id="conference-day-tab-<%= i %>">
            <% conference_meetings_for_month(meeting_component, month, current_user).each do |meeting, meetings| %>
              <%= render partial: "program_item", locals: { start_time: meeting[:start_time], end_time: meeting[:end_time], meetings: meetings.pluck(:meeting) } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
