<%
if respond_to?(:meeting_component) && meeting_component
  edit_link(
    manage_component_path(meeting_component),
    :read,
    :component,
    component: meeting_component,
    current_participatory_space: current_participatory_space
  )
end
%>
<% add_decidim_meta_tags(title: t("conference_program.index.title", scope: "decidim")) %>

<div class="section row" >
  <% if current_organization.filtered_conference_program_meetings? %>
    <div class="columns mediumlarge-3">
      <%= render partial: "filters_small_view" %>
      <div class="card card--secondary show-for-mediumlarge">
        <%= render partial: "filters" %>
      </div>
    </div>
  <% end %>

  <div id="conference-program" class="columns mediumlarge-<%= current_organization.filtered_conference_program_meetings? ? "9" : "12" %>">
    <%= render partial: "conference_program" %>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
