<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "decidim/email" %>
  </head>

  <body>
    <!-- <style> -->
    <table class="body">
      <% if content_for?(:see_on_website) %>
        <table class="container">
          <th class="small-12 first columns headnote float-right">
            <%= yield(:see_on_website) %>
          </th>
        </table>
      <% end %>
      <tr>
        <td class="float-center" align="center" valign="top">
          <center>
            <table class="main container">
              <tr class="header" style="background-image: url(<%= asset_path('banner.png') %>)">
                <td class="decidim-bar">
                  <table class="row collapse">
                    <tr>
                      <th class="small-1 large-1 first columns decidim-bar">
                        <table>
                          <tr>
                            <th>
                            </th>
                          </tr>
                        </table>
                      </th>
                      <th class="small-4 large-4 columns decidim-bar">
                        <table>
                          <tr>
                            <th class="logo-wrapper">
                              <%= render partial: "layouts/decidim/mailer_logo", locals: { organization: @organization } %>
                            </th>
                          </tr>
                        </table>
                      </th>
                      <th class="small-7 large-7 last columns decidim-bar">
                        <table>
                          <tr>
                            <th>
                            </th>
                          </tr>
                        </table>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table class="spacer">
                    <tbody>
                      <tr>
                        <td height="40px" style="font-size:40px;line-height:40px;"> </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="row content">
                    <tr>
                      <th class="small-12 first columns">
                        <%= yield %>
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <th class="small-12 first columns">
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <th class="expander"></th>
                      <th class="small-12 first columns cityhall-bar">
                        <div class="decidim-logo" style="float: right; text-align: right; padding-right: 16px">
                          <% if @custom_url_for_mail_root.present? %>
                            <%= link_to @organization.name.html_safe, @custom_url_for_mail_root %>
                          <% else %>
                            <%= link_to @organization.name.html_safe, decidim.root_url(host: @organization.host) %>
                          <% end %>
                        </div>
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <% if content_for?(:note) or content_for?(:unsubscribe) %>
              <table class="container">
                <tr>
                  <td>
                    <table class="row">
                      <th class="expander"></th>
                      <th class="small-12 first last columns footnote">
                        <center>
                          <%= yield(:note) if content_for?(:note) %>
                          <%= yield(:unsubscribe) if content_for?(:unsubscribe) %>
                        </center>
                      </th>
                    </table>
                  </td>
                </tr>
              </table>
            <% end %>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
